
/* HEADER BAR
 */
#header-bar div {
    margin-left: 10px;
}
#register-view-button {
    display: inline-block;
    float: right;
}
#login-view-button {
    display: inline-block;
    float: right;
}
#logout-button {
    display: none;
    float: right;
}

/* MODAL DIALOG
 */
.modal-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    background: blue;
}


/* RESULTS LIST
 */
.result {
    text-decoration: none;
    overflow: hidden;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.result-thumbnail {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: text-top;
}
.result-details {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    max-width: 600px;
}
.result-name {
}
.result-text {
    vertical-align: bottom;
    display: inline-block;
    height: 100%;
}
